@import url("https://fonts.googleapis.com/css2?family=Changa+One&family=Open+Sans:wght@800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.font {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}
.flex {
  display: flex;
}
.mt-13 {
  margin-top: 13px;
}
.mr-700 {
  margin-right: 700px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-40 {
  margin-left: 40px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-60 {
  margin-right: 60px;
}
.mb-10 {
  margin-bottom: 10px;
}
.pt-5rem {
  padding-top: 5rem;
}
.pb-5rem {
  padding-bottom: 5rem;
}
.height-500 {
  height: 500px;
}

.title_input {
  font-size: 3rem;
  outline: none;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 2rem;
  width: 100%;
}
.main_page_center {
  margin: auto;
  width: 1200px;
}

.github {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.postlistpage_center {
  margin: auto;
  width: max-content;
  padding: 10px 10px;
  border-bottom: 1px solid #d3d3d3;
}
.darkmode-border {
  margin-top: 10px;
  border: 1px solid black;
  padding: 3px 15px;
  border-radius: 95px;
  cursor: pointer;
}
.darkmode-border:hover {
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 95px;
  color: gray;
  cursor: pointer;
}

a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

.login__wrap {
  position: absolute;
  border: 1px solid rgb(236, 238, 242);
  border-radius: 4px;
  width: 460px;
  height: 360px;
  padding: 20px 40px;
  left: 50%;
  top: 50%;
  margin: -180px 0px 0px -230px;
}
.button__stylebutton {
  width: 360px;
  cursor: pointer;
  background-color: rgb(26, 124, 255);
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  display: table;
  margin: auto;
}
.login__input__id {
  width: 365px;
  height: 45px;
  font-size: 18px;
  padding: 6px 0px 6px 6px;
  display: block;
}
.login__input__pw {
  width: 365px;
  height: 45px;
  font-size: 18px;
  padding: 6px 0px 6px 6px;
  display: block;
}
.login__wrap_find_id_join {
  display: flex;
  justify-content: space-between;
}
.cursor-pointer {
  cursor: pointer;
}
.reply_cancel {
  border-radius: 70px;
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  padding: 2px 10px;
  cursor: pointer;
  margin-left: 5px;
}
.re_reply-btn_add {
  border-radius: 70px;
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  padding: 2px 10px;
  cursor: pointer;
  margin-left: 10px;
}
